<main class="page__main">

    <div class="dataButton_container">
    <button class="dataButton js_savebtn">Save friends</button>
    <button class="dataButton js_recoverbtn">Recover friends</button>
    <button class="dataButton js_removebtn">Remove friends</button>
    </div>

<!-- creo un UL en principio vacio y lo rellenare con JS -->
<ul class="userList js_userList"></ul>

<!-- lista amigos -->

 <h2 class="friends_title">My friends</h2>
 <ul class="friendsList js_friendsList"></ul>
 
 

</main>
